/agave/
/firedancer/
/jito-relayer/
/jito-solana/
/keys/*
/solana-patch/
**/data/*

# runtime
*.bak
*.log
*.pid
solana-tools.*
!/etc/**

# testing
*-test*.service
*shellcheck*

# temporary
mksnapshot.sh
mostly_confirmed_threshold*
!/patch/*

*~
.DS_Store
