# The known-validators are operated by Solana Labs

[Unit]
Description=Validator
After=network.target syslog.target
StartLimitIntervalSec=0
ConditionPathExists=/home/ubuntu/solana-tools/keys/validator-keypair.json
ConditionPathExists=/home/ubuntu/solana-tools/keys/vote-account-mainnet.json
ConditionPathExists=/home/ubuntu/solana-tools/keys/validator-keypair-mainnet.json

[Service]
Restart=on-failure
RestartSec=1
LimitNOFILE=2000000
LimitMEMLOCK=2000000000
LogRateLimitIntervalSec=0
Environment=SOLANA_METRICS_CONFIG="host=https://metrics.solana.com:8086,db=mainnet-beta,u=mainnet-beta_write,p=password"
Environment=TAG=v3.1.9-jito
# [Amsterdam]
# Environment="BLOCK_ENGINE_URL=https://amsterdam.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=74.118.140.240:1002"
# Environment="BAM_URL=http://amsterdam.mainnet.bam.jito.wtf"
# [Dublin]
# Environment="BLOCK_ENGINE_URL=https://dublin.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=64.130.61.8:1002"
# Environment="BAM_URL="
# [Frankfurt]
# Environment="BLOCK_ENGINE_URL=https://frankfurt.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=64.130.50.14:1002"
# Environment="BAM_URL=http://frankfurt.mainnet.bam.jito.wtf"
# [London]
# Environment="BLOCK_ENGINE_URL=https://london.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=142.91.127.175:1002"
# Environment="BAM_URL=http://london.mainnet.bam.jito.wtf"
# [New York]
Environment="BLOCK_ENGINE_URL=https://ny.mainnet.block-engine.jito.wtf"
Environment="SHRED_RECEIVER_ADDR=141.98.216.96:1002"
Environment="BAM_URL=http://ny.mainnet.bam.jito.wtf"
# [Salt Lake City]
# Environment="BLOCK_ENGINE_URL=https://slc.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=64.130.53.8:1002"
# Environment="BAM_URL=http://slc.mainnet.bam.jito.wtf"
# [Singapore]
# Environment="BLOCK_ENGINE_URL=https://singapore.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=202.8.11.224:1002"
# Environment="BAM_URL=http://singapore.mainnet.bam.jito.wtf"
# [Tokyo]
# Environment="BLOCK_ENGINE_URL=https://tokyo.mainnet.block-engine.jito.wtf"
# Environment="SHRED_RECEIVER_ADDR=202.8.9.160:1002"
# Environment="BAM_URL=http://tokyo.mainnet.bam.jito.wtf"
WorkingDirectory=/home/ubuntu/solana-tools
ExecStart=/home/ubuntu/solana-tools/solana.sh validator \
	--tower /mnt/ramdisk/tower \
	--ledger /mnt/ramdisk/ledger \
	--accounts /mnt/ramdisk/accounts \
	--accounts-index-path /mnt/ramdisk/accounts_index \
	--enable-accounts-disk-index \
	--snapshots /mnt/snap/snapshots \
	--incremental-snapshot-archive-path /mnt/ramdisk/snapshots_inc \
	--log /mnt/data/log/solana.log \
	--identity /home/ubuntu/solana-tools/keys/validator-keypair.json \
	--vote-account /home/ubuntu/solana-tools/keys/vote-account-mainnet.json \
	--authorized-voter /home/ubuntu/solana-tools/keys/validator-keypair-mainnet.json \
	--expected-genesis-hash 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d \
	--entrypoint entrypoint.mainnet-beta.solana.com:8001 \
	--entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
	--entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
	--entrypoint entrypoint4.mainnet-beta.solana.com:8001 \
	--entrypoint entrypoint5.mainnet-beta.solana.com:8001 \
	--known-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2 \
	--known-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
	--known-validator DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ \
	--known-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
	--dynamic-port-range 8000-8025 \
	--rpc-port 8899 \
	--full-rpc-api \
	--only-known-rpc \
	--private-rpc \
	--snapshot-interval-slots 100 \
	--full-snapshot-interval-slots 100000 \
	--maximum-full-snapshots-to-retain 2 \
	--maximum-incremental-snapshots-to-retain 2 \
	--maximum-local-snapshot-age 2500 \
	--minimal-snapshot-download-speed 52428800 \
	--wal-recovery-mode skip_any_corrupted_record \
	--limit-ledger-size 50000000 \
	--no-poh-speed-test \
	--no-port-check \
	--tip-payment-program-pubkey T1pyyaTNZsKv2WcRAB8oVnk93mLJw2XzjtVYqCsaHqt \
	--tip-distribution-program-pubkey 4R3gSG8BpU4t19KYj8CfnbtRpnT8gtk4dvTHxVRwc2r7 \
	--merkle-root-upload-authority 8F4jGUmxF36vQ6yabnsxX6AQVXdKBhs8kGSUuRKSg8Xt \
	--commission-bps 800 \
	--block-engine-url ${BLOCK_ENGINE_URL} \
	--shred-receiver-address ${SHRED_RECEIVER_ADDR} \
	--bam-url ${BAM_URL}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
